@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

body {
  background-color: #17141D;
}

main {
  overflow: hidden;
}

.main-menu {
  background: #21212A;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100px;
  transition: width .05s linear;
  z-index: 1000;
  position: fixed;
}

.logContent .dropdown-menu-dark .dropdown-item {
  font-size: 16px;
}

.main-menu>ul {
  margin: 20px 0;
}

.main-menu li>a {
  color: #999999f2;
  font-family: arial;
  font-size: 28px;
  text-decoration: none;
  transition: all .3s linear;
}

.main-menu li>a>i {
  padding: 16px 0px;


}

.bxId {
  transition: all .1s linear;

}

.main-menu .bxId:hover {
  color: #fff;
}

.main-menu>ul.logout {
  position: absolute;
  left: 14px;
  bottom: 0;
  width: 70%;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.main-menu>ul.logout:hover {
  background: #36363E;
  border-radius: 10px;

}

.logContent li {
  list-style-type: none !important;
}

.logContent {
  margin-left: -12px !important;
}

.logContent>.dropdown-menu>a {
  font-size: 16px !important;
}

.logout img {
  border-radius: 10px;
  margin-left: -10px;
  margin-bottom: 18px;
}

.styles {
  color: #fff !important;
}

.main-menu .mainLogo {
  color: #fff;
  font-size: 50px;
  margin-left: -12px;
}

.mainDropTitle span {
  color: #EAE8EA;
  font-size: 20px;
  font-weight: 500;
}

.allFileHeadingIcons i {
  color: #87878B;
}
.allFileHeadingIcons i:hover{
  color: #eee;
  transition: 0.2s;
}
.allFileHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allFileMiddlePart hr {
  color: #EAE8EA;
}

.allFileHeadingIcons i {
  color: rgb(138, 137, 137);
  font-size: 24px;
  margin-left: 20px;
}

.titleLeftP .btn {
  background: #21212A !important;
  border: none;
  outline: none;
}

.titleLeftP .btn i {
  color: #87878B;
  font-size: 20px;
}

button#dropdownMenuButton2 {
  color: #87878B;
}

.titleLeftP {
  display: flex;
  align-items: center;
}

.titleLeftP .sp1 {
  color: #87878B;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 5px;
}

.titleLeftP i {
  color: #87878B;
  font-size: 18px;
  margin-right: 5px;
}

.titleLeftP .sp2 {
  font-weight: 500;
  color: #eae8eae0;
  font-size: 18px;
}

.titleRighr .btn {
  background: #21212A !important;
  border: none;
  outline: none;
}

.allFileMainTitle {
  display: flex;
  justify-content: space-between;
}

.titleRighr i {
  font-size: 20px;
}

.titleRighr button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleCard {
  background-color: #21212A;
  color: #87878B;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.singleCard:hover {
  background: #313139;
}

.singleCard i {
  margin-bottom: 24px;
  font-size: 30px;
  color: #87878B;
}

.singleCard h6 {
  color: #eae8ea;

}

.singleCard span:last-child {
  color: #9e9e9e;
  font-size: 14px;
}

.titleRightIcons {
  background: #21212A;
  padding: 0px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleRightIcons a {
  font-size: 20px;
  text-decoration: none;
  color: #87878B;
  margin: 0px 8px;
}

.titleRightIcons a:first-child {
  background: #303037;
  padding: 6px 10px;
  border-radius: 5px;
}

.singleUpCard {
  background: #21212A;
  padding: 16px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.singleUpCard:hover {
  background: #313139;
}

.iconSpan {
  display: flex;
  align-items: center;
}

.iconSpan i {
  font-size: 40px;
  color: #87878B;
}

.iconSpan span {
  color: #eae8eae0;
  margin-left: 20px;
  font-weight: 400;
}

.singleUpCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upCardDate span {
  color: #87878B;
  font-weight: 500;
}

.signUpLIocns span {
  background: #87878B;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid rgba(0, 0, 0, 0.507);
  margin-right: -4px;
}

.signUpLIocns i {
  color: #87878B;
  font-size: 20px;
  margin-left: 30px;
}

.allFileRightSidePart {
  padding: 0px 30px;
}

.uploadedFilesCard {
  padding-top: 12px;
}

.uploadedFilesCard:first-child {
  padding-top: 0px;
}

.previewHeadline {
  display: flex;
  align-items: center;
}

.previewHeadline i {
  color: #87878B;
  font-size: 30px;
}

.previewHeadline span {
  color: #EAE8EA;
  font-weight: 500;
  margin-left: 10px;
}

.allPreviewPart hr {
  color: #EAE8EA;
}

.allFileRightSidePart {
  background: #21212A;
}
.deleteIcon:hover i{
  color: red;
  transition: 0.2s;
}

.videoDetails h6 {
  color: #EAE8EA;
  font-size: 18px;
}

.videoDetails span {
  color: #87878B;
  font-weight: 600;
  font-size: 14px;
}

.fileDesc span {
  color: #EAE8EA;
  font-weight: 500;
}

.fileDesc p {
  color: #87878B;
}

.fileSharedPart span {
  color: #EAE8EA;
  font-weight: 500;
}

.sharePartners {
  display: flex;
  align-items: center;
}

.sharePartners span {
  background: #87878B;
  padding: 4px 10px;
  color: #21212A;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.507);
}

.sharePartners p {
  color: #87878B;
  font-weight: 500;
}

.shareFieldIcons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.field1 {
  cursor: pointer;
}

.field1 a {
  text-decoration: none;
  color: #EAE8EA;
  font-size: 20px;
}

.field1 p {
  color: #EAE8EA;
}

.allFileRightSidePart {
  height: 100%;
}

/* Videos Part */
.allVideosMiddlePart hr {
  color: #EAE8EA;
}

.videosTitle .titleRightIcons a:nth-child(1) {
  background: none;
  padding: 0px;
}

.videosTitle .titleRightIcons a:nth-child(2) {
  background: #303037;
  padding: 6px 10px;
  border-radius: 5px;
}

.singleVideoCard {
  background: #242428;
  border-radius: 10px;
}

.upImg img {
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0px 0px;
}

.upImg {
  position: relative;

}

.imgBg {
  position: absolute;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.upImgTitle p {
  color: #EAE8EA;
  font-weight: 500;
  text-align: center;
}

.aboutVideoSize p {
  color: #EAE8EA;
  font-weight: 500;
  margin: 0px;
}

.aboutVideoSize span {
  color: #87878B;
  font-size: 14px;
  font-weight: 500;
}

.aboutVideosIcons span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 25px;
  border-radius: 5px;
  background: #87878B;
  margin-left: 10px;
  border: 2px solid rgba(0, 0, 0, 0.507);
  text-align: center;
  font-weight: 700;
}

.mainUpImgTitle {
  padding: 20px;
}

.upImgBottomTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgIconsVideoCard {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.imgIconsVideoCard i {
  font-size: 22px;
  z-index: 999;
  color: #EAE8EA;
}

.noFileIcon i {
  text-align: center;
  display: block;
  color: #313139;
  font-size: 150px;
}

.noFileTitle h6 {
  text-align: center;
  color: #EAE8EA;
  margin: 20px 0px 10px 0px;
}

.noFileTitle span {
  display: block;
  text-align: center;
  color: #87878B;
  font-size: 14px;
  font-weight: 500;
}

.noFilePart {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.photosTitle .titleRightIcons a:nth-child(1) {
  padding: 0;
  background: none;
}

.photosTitle .titleRightIcons a:nth-child(3) {
  padding: 6px 10px;
  background: #303037;

}

.mainPhoto {
  position: relative;
}

.mainPhoto a {
  transition: 0.2s ease;

}

.mainPhoto span {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #EAE8EA;
  font-size: 22px;
  font-weight: 500;
  opacity: 0;
  transition: 0.2s ease;
}

.mainPhoto:hover span {
  opacity: 1;
}

.mainPhoto:hover a {
  opacity: 0.7;
}

.mainPhoto img {
  height: 100%;
  width: 100%;
}

.mainPhoto a i {
  position: absolute;
  bottom: 10%;
  left: 80%;
  font-size: 30px;
  color: #EAE8EA;
  opacity: 0;
  transition: 0.2s ease;
}

.mainPhoto:hover a i {
  opacity: 1;
}

.mainRecenticon i {
  font-size: 100px;
  color: #87878B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.mainRecentCard .imgBg {
  background: transparent;
}

.mainRecentCard .aboutVideosIcons span {
  height: 24px;
  width: 24px;
  line-height: 20px;
  border-radius: 5px;
  font-size: 14px;
  background: #87878B;
  margin-left: 6px;
  border: 2px solid rgba(0, 0, 0, 0.507);
  text-align: center;
  font-weight: 700;
}

.mainRecentCard>.singleVideoCard {
  height: 300px;
  width: 100%;
  transition: 0.2s ease;
  cursor: pointer;
}

.recentRightIcon i {
  margin-top: 50px;
  font-size: 150px;
  color: #87878B;
  display: flex;
  justify-content: center;
}

.mainRecentCard .singleVideoCard:hover {
  background-color: #313139;
}

.userProfile .main-menu>ul.logout {
  background: #36363E;
  border-radius: 10px;
}

.mainProfileInfo img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.userMainEditPhoto {
  background: #21212A;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  color: #EAE8EA;
  text-align: center;
  transition: background .2s ease;
}

.userMainEditPhoto:hover {
  background: #36363E;
}

.mainUserProfileName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userName h4 {
  color: #E4E4E5;
}

.userAllDetails hr {
  color: #EAE8EA;
}

.mailPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emailTitle span {
  color: #87878B;
  font-weight: 500;
}

.mainMail span {
  color: #d4d4d4;
}

.mainProfileInfo {
  border-bottom: 1px solid #eae8ea4b;
  padding-bottom: 26px;
  margin-bottom: 50px;
}

.arr {
  text-decoration: none;
  color: #87878B;
  font-weight: 500;

}

.preferenceHeadline span {
  color: #E4E4E5;
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
}

.singlePrefer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #EAE8EA;
  border-top: 1px solid #eae8ea4b;
  padding: 18px 0px;
}

.preferRight i {
  font-size: 30px;
  color: #EAE8EA;
}

.singlePrefer:last-child {
  border-bottom: 1px solid #eae8ea4b;
}

.singlePrefer button {
  color: #E4E4E5;
}

.userMiddleBottom {
  margin-top: 60px;
  border-bottom: 1px solid #eae8ea4b;
  padding-bottom: 30px;
}

.userMiddleBottom span {
  color: #EAE8EA;
  font-size: 20px;
  transition: color .2s ease;
}

.userMiddleBottom span:hover {
  color: #0A58CA;
}

.preferLeft span {
  color: #87878B;
  font-weight: 500;
}

.mainCicleStore {
  margin: 0px auto;
  height: 130px;
  width: 130px;
  background: #CCCCD1;
  text-align: center;
  border-radius: 50%;
  color: #4C4C4D;

}

.mainCicleStore h4 {
  padding-top: 45px;
  font-size: 20px;
  font-weight: 600;

}

.Gb25 {
  color: #919191;
  text-align: center;
  font-weight: 500;
  margin-bottom: 14px;
}

.mainCicleStore span {
  font-size: 14px;
}

.zeroTo100 {
  display: flex;
  color: #919191;
  justify-content: space-around;
}

.availableStorage {
  background: none;
  border-radius: 0px;
  height: 100%;
  width: 100%;
}

.availableStorage h4 {
  color: #CCCCD1;
}

.availableStorage span {
  font-size: 18px;
  font-weight: 500;
  color: #87878B;
}

.singleDemoFile {
  background: #313139;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s ease;
}

.singleDemoFile:hover {
  box-shadow: 0px 0px 10px 0px #87878B;
}

.singleDemoFile i {
  font-size: 26px;
  color: #CCCCD1;
}

.singleDemoFile p {
  margin: 0px;
  color: #CCCCD1;
  font-size: 18px;
  padding: 14px 0px 5px 0px;
}

.singleDemoFile span {
  font-size: 14px;
  color: #87878B;
}

.upgradePlan i {
  font-size: 20px;
  color: #87878B;
}

.upgradePlan span {
  color: #CCCCD1;
}

.upgradePlan {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.compareNewPlans span {
  color: #CCCCD1;
  background: #313139;
  display: block;
  padding: 14px 0px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #535353;
  transition: 0.1s ease;
  margin: 40px 0px;
}

.compareNewPlans span:hover {
  box-shadow: 0px 0px 10px 0px #87878B;

}

/* Welcome Page */
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.navbar-brand i {
  margin-right: 10px !important;
  background-color: #0A58CA;
  padding: 10px;
  font-size: 30px;
}

.navbar {
  background: #2a2a30;
}

.navbar-nav .nav-item {
  position: relative;
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0px;
}

.navbar-nav .nav-item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.2s ease;
  background: #87878B;

}

.navbar-nav .nav-item:hover:after {
  width: 100%;
}

.signInUpButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInUpButtons .nav-link {
  margin-left: 20px;
  height: 40px;
  width: 120px;
  text-align: center;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #87878B;
  transition: 0.1s ease;
  color: #fff !important;
}

.signInUpButtons .nav-link:first-child {
  margin-left: 0px;
}

.signInUpButtons .nav-link:hover {
  box-shadow: 0px 0px 10px 0px #87878B;
}

.headerLeft h1 {
  font-size: 50px;
  color: #EAE8EA;
}

#mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.headerLeft p {
  color: #EAE8EA;
  margin-top: 20px;
}

.signIn form {
  width: 100%;
  color: #fff;
  margin: auto;
  background: #313139;
  padding: 40px 20px;
  border-radius: 10px;
}

.signIn .form-control {
  border: none !important;
  background: transparent !important;
  border-bottom: 3px solid #87878B !important;
  box-shadow: none !important;
  border-radius: 0px;
  color: #E4E4E5;
  padding: 0px;
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 80px 0px;

}

.signInHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;

}

.signInHeader i {
  color: #0A58CA;
  font-size: 80px;
}

.signInHeader span {
  font-size: 30px;
}

.signIn .submitBtn {
  color: #fff;
  background: transparent !important;
  border: 1px solid #87878B;
  height: 45px;
  width: 300px;
  text-align: center;
  margin: auto;
  display: block;
  text-decoration: none;
  transition: 0.1s ease;
}

.signIn .submitBtn:hover {
  box-shadow: 0px 0px 10px 0px #87878B;

}

.signupFooter {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.mainSignInPage {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleLeftBottom span {
  color: #87878B;
}

.navbar-toggler-icon i {
  font-size: 34px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #87878B;
}

.singleCard {
  margin-bottom: 14px;
}

.allFileHeading button {
  display: none;
}

.fileCard {
  text-decoration: none !important;
}

.mobile {
  display: none;
}

.videosMainThumbnails .vdoCard {
  cursor: pointer;
}

.vdoCard:hover .mainUpImgTitle {
  background-color: #313139;
  transition: 0.2s;

}

@media screen and (min-width:320px) and (max-width:575px) {

  .allFileMiddlePart {
    padding: 0px 20px;
  }

  .titleRighr {
    display: none;
  }

  .allVideosMiddlePart {
    padding: 0px 20px;
  }

  .userProfileMiddle {
    padding: 0px 20px;
  }

  .headerLeft h1 {
    font-size: 30px;
  }

  .allFileHeading button {
    display: inline-block;
  }

  #mainHeader {
    padding: 0px 20px;
  }

  .signInLeft {
    display: none;
  }

  .signinForm {
    padding: 0px 20px;
  }

  .signIn .submitBtn {
    width: 200px;
  }

  .upCardDate {
    display: none;
  }

  .signUpLIocns span {
    display: none;
  }

  .iconSpan i {
    display: none;
  }

  .iconSpan span {
    margin-left: 0px;
  }

  .mainRecentCard {
    padding: 10px 0px;
  }

  .singleVideoCard {
    margin-bottom: 20px;
  }

  .mainPhoto {
    margin-bottom: 20px;
  }

  .userMainEditPhoto {
    margin-bottom: 20px;
  }

  .singleDemoFile {
    margin-bottom: 20px;
  }

  .allFileRightSidePart {
    display: none;
  }

  .navbar {
    padding: 0px 20px;
  }

  .signUpLIocns {
    display: none;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media screen and (min-width:576px) and (max-width:991px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .allFileMiddlePart {
    padding: 0px 20px;
  }

  .allVideosMiddlePart {
    padding: 0px 20px;
  }

  .titleRighr {
    display: none;
  }

  .userProfileMiddle {
    padding: 0px 20px;
  }

  .headerLeft h1 {
    font-size: 35px;
  }

  .allFileHeading button {
    display: inline-block;
  }

  .signUpLIocns {
    display: none;
  }

  #mainHeader {
    padding: 0px 20px;
  }

  .signInLeft {
    display: none;
  }

  .signinForm {
    padding: 0px 20px;
  }

  .upCardDate {
    display: none;
  }

  .signUpLIocns span {
    display: none;
  }

  .mainRecentCard {
    padding: 10px 0px;
  }

  .singleVideoCard {
    margin-bottom: 20px;
  }

  .mainPhoto {
    margin-bottom: 20px;
  }

  .userMainEditPhoto {
    margin-bottom: 20px;
  }

  .singleDemoFile {
    margin-bottom: 20px;
  }

  .allFileRightSidePart {
    display: none;
  }

  .navbar {
    padding: 0px 20px;
  }

}

@media screen and (min-width:992px) and (max-width:1300px) {
  .aboutVideosIcons {
    display: none;
  }

  .upImgTitle p {
    font-size: 14px;
  }

  .allFileMiddlePart,
  .allVideosMiddlePart,
  .userProfileMiddle {
    margin-left: 30px;
  }

  .aboutVideosIcons {
    display: none;
  }

  .mainRecenticon i {
    font-size: 60px;
  }

  .navbar-nav .nav-item {
    margin-right: 0px;
  }
}